<form [formGroup]="personForm" (ngSubmit)="addPerson()">
    <label>Nome:</label>
    <input formControlName="name" type="text" />
    @if (personForm.controls.name.invalid && personForm.controls.name.touched) {
    <p style="color:red">Nome richiesto e minimo 2 caratteri</p>
    }
    <label>Cognome:</label>
    <input formControlName="surname" type="text" />
    @if (personForm.controls.surname.invalid && personForm.controls.surname.touched) {
    <p style="color:red">Cognome richiesto e minimo 2 caratteri</p>
    }

    <label>Data di nascita:</label>
    <input formControlName="birthDate" type="date" />


    <label>Genere:</label>
    <select formControlName="gender">
        <option value="">-- Seleziona --</option>
        <option value="MALE">Maschio</option>
        <option value="FEMALE">Femmina</option>
    </select>

    <label>Padre</label>
    <select formControlName="fatherId">
        <option [ngValue]="null">-- Nessuno --</option>
        @for (person of malePersons$ | async; track person.id) {
        <option [ngValue]="person.id">
            {{ getFullname(person) }}
        </option>
        }
    </select>

    <label>Madre</label>
    <select formControlName="motherId">
        <option [ngValue]="null">-- Nessuna --</option>
        @for (person of femalePersons$ | async; track person.id) {
        <option [ngValue]="person.id">
            {{ getFullname(person) }}
        </option>
        }
    </select>

    <button type="submit" [disabled]="personForm.invalid">Aggiungi Persona</button>
</form>

<!--<h2> test signal value : {{count()}}</h2>
<button (click)="testSignal()"> Clicca qui!</button>-->
<h2>Lista delle persone</h2>
<table>
    <thead>
        <tr>
            <th>Nome Completo</th>
            <th>Data di Nascita</th>
            <th>Genere</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @for (person of persons$ |async; track person.id) {
        <tr>
            <td>{{getFullname(person)}}</td>
            <td>{{ person.birthDate | date:'fullDate':'':'it-IT' }}</td>
            <td>
                {{getGenderLabel(person.gender)}}
            </td>
            <td>
                <button (click)="toggleShowDeleteModal(person)">Elimina</button>
                <button (click)="editPerson(person)">Modifica</button>
            </td>
        </tr>
        }
    </tbody>
</table>



@if (showEditModal) {
<div class="modal" (click)="showEditModal=false">
    <form [formGroup]="editForm" (ngSubmit)="saveEdit(personToEdit.id!)" (click)="$event.stopPropagation()">

        <label>Nome</label>
        <input formControlName="name" />

        <label>Cognome</label>
        <input formControlName="surname" />

        <label>Data di nascita</label>
        <input type="date" formControlName="birthDate" />

        <label>Padre</label>
        <select formControlName="fatherId">
            <option [ngValue]="null">-- Nessuno --</option>
            @for (person of malePersons$ | async; track person.id) {
            <option [ngValue]="person.id">
                {{ getFullname(person) }}
            </option>
            }
        </select>

        <label>Madre</label>
        <select formControlName="motherId">
            <option [ngValue]="null">-- Nessuna --</option>
            @for (person of femalePersons$ | async; track person.id) {
            <option [ngValue]="person.id">
                {{ getFullname(person) }}
            </option>
            }
        </select>

        <label>Genere</label>
        <select formControlName="gender">
            <option value="MALE">Maschio</option>
            <option value="FEMALE">Femmina</option>
        </select>

        <button type="submit">Salva</button>
        <button type="button" (click)="showEditModal=false">Annulla</button>

    </form>
</div>
}

@if(showDeleteModal){
<div class="modalDelete" (click)="showDeleteModal=false">
    <div class="modal-box" (click)="$event.stopPropagation()">
        <h2>Sei sicuro di voler eliminare la persona?</h2>
        <div>
            <h3>Persona in esame:</h3>
            <h4>ID: {{personToEliminate.id}}</h4>
            <h4>Nome: {{personToEliminate.name}}</h4>
            <h4>Cognome: {{personToEliminate.surname}}</h4>
            <h4>Genere: {{getGenderLabel(personToEliminate.gender)}}</h4>
        </div>
        <button (click)="showDeleteModal=false">Annulla</button>
        <button (click)="deletePersonById(personToEliminate.id!)">Elimina</button>
    </div>
</div>
}